absl-py
astunparse
attrs
Babel
bcrypt
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
contourpy
cryptography
cupshelpers
cycler
dbus-python
defer
distro
distro-info
duplicity
fasteners
filelock
flatbuffers
fonttools
fsspec
future
gast
google-pasta
grpcio
h5py
httplib2
idna
importlib-metadata
jaraco.classes
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
keras
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libclang
lockfile
louis
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
monotonic
more-itertools
mpmath
namex
netifaces
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
olefile
opencv-python
opt-einsum
optree
packaging
pandas
paramiko
pexpect
Pillow
protobuf
psutil
ptyprocess
py-cpuinfo
pycairo
pycups
Pygments
PyGObject
PyJWT
PyNaCl
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
scipy
screen-resolution-extra
seaborn
SecretStorage
six
sympy
systemd-python
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
thop
torch
torchvision
tqdm
triton
typing_extensions
tzdata
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
ultralytics
unattended-upgrades
urllib3
usb-creator
wadllib
Werkzeug
wrapt
xdg
xkit
zipp
